.bg-1{
  background: url("C:\Users\Ravi Shekhar Singh\Desktop\booking\hospital\public\circle.jpg");
  
    background-attachment: fixed;
    background-position-y: center;
    background-repeat: no-repeat;
    background-size: contain;
}