.enroll {
  background: var(--white);
  border-radius: .4rem;
  padding: .8em 1em !important;
  width: 460px
}

.enroll-tel {
  display: flex;
  justify-content: space-between
}

.enroll-tel input {
  border: none;
  border-radius: .4rem;
  color: #404040;
  font-size: 20px;
  font-weight: 600;
  padding: 8px
}

.enroll-tel input::-webkit-input-placeholder {
  color: #bbb
}

.enroll-tel input::placeholder {
  color: #bbb
}

.enroll-tel input:focus {
  outline: none
}

.enroll-tel button {
  border: none;
  box-shadow: none
}

@media screen and (max-width:545px) {
  .enroll {
      width: 100%
  }
  .enroll-tel {
      display: block
  }
  .enroll-tel input {
      margin-bottom: .5rem !important
  }
  .enroll-tel button,
  .enroll-tel input {
      width: 100%
  }
}
.counseller img {
  transition: .4s
}

.counseller:hover img {
  -webkit-transform: scale(1.02);
  transform: scale(1.02);
  transition: .4s
}

.counseller button {
  background: var(--theme);
  color: var(--white);
  margin: 0
}

.counseller button:hover {
  color: var(--white)
}

.counseller button i {
  margin-left: .5rem;
  transition: .2s
}

.counseller button:hover i {
  margin-left: 1rem;
  transition: .2s
}
